@model IEnumerable<FirstWebMVC.Models.ImportReceipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Phiếu Nhập</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImportDate)
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImportDate)
            </td>
            <td>
                @item.TotalAmount.ToString("N0") đ
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImportReceiptID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImportReceiptID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImportReceiptID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
