@model FirstWebMVC.Models.ExportDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExportDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportReceipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportReceipt.ExportReceiptID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExportDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
