@model IEnumerable<FirstWebMVC.Models.ExportDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Chi Tiết Xuất</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExportReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExportPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExportReceipt.ExportReceiptID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExportPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExportDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExportDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExportDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
